#titulo{
    color:#fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}


#contacto{
    margin-bottom: 25px;
}

#caja1{
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

@media (max-width: 480px){
    form{
        width: 100%;
    }
        header h1{
        line-height: 80px;
    }
}

input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

#boton{
    background: #31384A;
    color: #fff;
    padding: 20px;
}

#Datos{
    
       
}

